page-notifications {
    .wrapper1{
        position: relative;
        top:10xp;
        text-align: center;
    }
    .wrapper2{
        text-align: center;
        position: relative;
        top:20%;
    }
}
