page-rules {
    .wrapper1{
        position: relative;
        text-align: center;
    }

    ion-slides {
        background-image: url('../assets/imgs/DarkPurple.jpg');
        background-size: cover;
        height: 100%;
    }

    .lamp {
        height: 150px;
    }
}
