page-rules {
    .wrapper1{
        position: relative;
        text-align: center;
    }

    ion-slides {
        background-image: url('../assets/imgs/DarkPurple.jpg');
        background-size: cover;
        height: 100%;
    }

    .swiper-pagination-bullet {
        background: white;
        opacity: 0.5;
      }
    
      .swiper-pagination-bullet-active {
        opacity: 1;
        background:yellow;
      }

    .lamp {
        height: 150px;
    }
}
