page-home {
<<<<<<< HEAD
    .no-scroll .scroll-content{
        overflow: hidden;
   }
=======
   
    .lamp {
        margin:0 auto;
        position: relative;
        width: 250px;
        height: 250px; 
    }
>>>>>>> 3212dd3c763d696a9f1a6dd613aaba5ea26ce8e9
}
