page-weather-forecast {
  .no-scroll .scroll-content{
    overflow-y: hidden;
  }

  ion-content {
    background-image: url('../assets/imgs/DarkPurple.jpg');
    background-size: cover;

  }

  .toolbar-background{
    background-color: rgb(68, 13, 68);
  }

  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-wp { color: yellow; }
  $toolbar-ios-title-text-align: center;

}

